.DeleteModal {
  position: absolute;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 200px;
  background: red;
  border-radius: 6px;
  padding: 24px;
  box-sizing: border-box;
}

.DeleteModal h4 {
  text-align: center;
}
.DeleteModal input {
  width: 100%;
  height: 28px;
  background: transparent;
  border: 2px solid hsla(0, 0%, 80%, 0.596);
  border-radius: 6px;
  text-align: center;
}
.DeleteModal .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}
.DeleteModal .buttons button:first-child  {
  color: white;
  width: 134px;
  border-radius: 6px;
  height: 38px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  background: rgb(192, 188, 188);
}
.DeleteModal .buttons button:nth-child(2){
  color: white;
  width: 134px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  height: 38px;
  font-weight: bold;
  background: rgb(117, 196, 123);
}